/*
wood brown: A89F68;
army green: 41521F;
*/

/*Generals*/
.white h2,.white h4,.white a{
	color: #A89F68;
}

.brown h2,.brown h4,.brown a{
	color: #41521F;
}
.brown p,.brown h6{
	color: #fff;
}
.bold{
	font-weight: 900;
}
.btn-see-more{
	color: #FFF;
	background-color: #41521F;
	width: auto;
}
.btn-see-more:hover{
	background-color: #FFF;
	color: #41521F;
}

.img-responsive{
	width: 100%;
}

/*Nav*/
.navbar-default{
	background-color: transparent;
	border: none;
	padding: 0 50px;
	color: #fff;
	position: absolute;
}
.navbar-default.navbar ul li a{
	color: #fff;
}
.navbar-default h4{
	padding: 5px;
	float: left;
	color: #fff;
}
.navbar-default.navbar ul li a:hover{
	border-bottom: 3px solid #fff;
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}

/*Header*/
.koala-back{
	background-image: url(../img/portada.jpg);
	background-size: cover;
	background-position: bottom;
	height: 100vh;
	margin: 0;
	padding: 13em 5em;
	box-sizing: border-box;
}
.brown .title-first{
	color: #FFF;
	font-weight: bold;
}
.features{
	padding: 0.8em;
}

.features p{
	padding: 0;
	margin-bottom: 1em;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #FFF;
	margin-top: 1em;
}


/*Third-section*/
#third-section{
	padding: 100px;
}

.info{
	margin-top: 200px;
}
.info a:hover{
	color: #41521F;
}


/*Fourth section*/
#fourth-section, #seventh-section, #footer-section{
	background-color: #A89F68;
	padding: 100px;
}
#fourth-section img{
	border: 10px solid #fff;
}

#fifth-section{
	background-image: url(../img/all.jpg);
	background-size: cover;
	height: 100vh;
}

/*Fifth-section*/
#fifth-section{
	padding-top: 100px;
}
.right{
	float: right;
}


/*Sixth-section*/
#sixth-section{
	padding: 100px;
	text-align: center;
}

.help i{
	font-size: 100px;
	margin: 30px;
	color: #A89F68;
}
.help{
	padding: 20px;
}

/*Seventh-section*/
#seventh-section{
	text-align: center;
}

#seventh-section button{
	text-align: center;
	margin: 0 auto;
}
#seventh-section h6{
	color: black;
	font-weight: 900;
	margin-top: 50PX;
	font-size: 20px;
}
.donate p{
	padding: 15px 0px;
	color: black;
	font-weight: 300;
	border-bottom: 1px solid #fff;
}
.donate p span{
	font-weight: 900;
}
.donate p:last-child{
	border-bottom: none;
}

.price h1{
	color: #fff;
	font-size: 80px;
}

.price h1 sub{
	font-size: 20px;
	font-weight: 900;
	margin-left: -20px;
}
.price h1 sup{
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
	top: -2em;
}

/*footer*/
#footer-section{
	background-color: #41521F;
}
#footer-section p{
	color: #fff;
}
.nav-footer{
	margin: 0 auto;
}
.nav-footer ul li{
	list-style: none;
}